/* Global layout rules */

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;

    background-color: #FFFFFF;
    color: black;
}

h1, h2
{
    font-weight: bold;
}


ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}



/* Specific layout rules for large PC and TV screen */

@media all and (max-width: 1600px)
{
    #main_wrapper
    {    
        max-width: 1344px;
        margin: auto;
    }

    header nav
    {
        width: 100%;
        height: 87px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header nav a
    {
        width: 20%;
    }

    header nav ul
    {
        width: 45%;
        height: 87px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        font-size: 0.9em;
    }

    header nav ul li, header nav ul li a
    {
        padding: 2em 1.5em 1.5em 1.5em;
    }

    header nav ul li:nth-child(1) a:visited, header nav ul li:nth-child(2) a:visited
    {
        color: black;
    }

    header nav ul li:nth-child(1) a:hover, header nav ul li:nth-child(2) a:hover
    {
        color: #0065fc;

        border-top: 2px solid #0065fc;
    }
}


